{% extends "base.html" %}

{% block title %}Welcome - Norwegian Flashcards{% endblock %}

{% block content %}
   {% if current_user.is_authenticated %}
    <h1>Welcome, {{ current_user.email }}!</h1>
    <p>You are logged in. Use the menu above to access your exercises and vocabulary list.</p>
  {% else %}
    <h1>Welcome to Norwegian Teachin!</h1>
    <p>The only Norwegian verb practice flashcard app. <a href="{{ url_for('auth.login') }}">Login</a> to login or make a new account.</p>
  {% endif %}
{% endblock %}
